
Software/LearnNetworks_Python/Go_Network/FirstModel/validation_spectrogram.npz

Software/LearnNetworks_Python/Go_Network/FirstModel/training_spectrogram.npz


Software/LearnNetworks_Python/Go_Network/FirstModel/test_spectrogram.npz
